a {
    text-decoration: none;
}
img{
    width: 40%;

}
body{
    width:100%;
    font-size: 2em;
    font-family: 'Delius Unicase', cursive;
}
p{
    text-align: right;
    width: 50%;
}
li {
    list-style: none;
}