body{
    font-family: 'Delius Unicase', cursive;
    width: 80%;
    margin: auto;
    text-align: center;
}
a {
    text-decoration: none;
}
img{
    width: 40%;

}
li {
    list-style-type: none;
}
p{
    width: 50%;
    text-align: right;
}